
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<WebsiteDatSan.Models.ApplicationUser>


<h2>Users</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Role</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FullName</td>
            <td>@user.Email</td>
        </tr>
    }
</table>


